REACT_APP_API_URL=http://localhost:4000 # or https://fractionate-backend.vercel.app for production
REACT_APP_SEPOLIA_RPC_URL='https://eth-sepolia.g.alchemy.com/v2/0000000000000000000000000000' # replace with your own Alchemy API key
REACT_APP_TOKEN_CONTRACT_ADDRESS=0x1dFDA95F90081d9c5045831A0CdCc901c394CA6D # need to be updated every time the contract is re-deployed
REACT_APP_DAO_CONTRACT_ADDRESS=0x8249128A96BA9A8B92537F7f14158f51630f5C90 # need to be updated every time the contract is re-deployed